simple.wsdl

<?xml version ='1.0' encoding ='UTF-8' ?>

<definitions name='SimpleHelloService'

	targetNamespace='http://localhost/SimpleService'
	xmlns:tns='http://localhost/SimpleService' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/'
	xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:soapenc='http://schemas.xmlsoap.org/soap/encoding/'
	xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns='http://schemas.xmlsoap.org/wsdl/'>


	<!-- MESSAGES -->

	<message name="getSaludoRequest">
		<part name="parameters" element="tns:getSaludoRequest" />
	</message>

	<message name="getSaludoResponse">
		<part name="parameters" element="tns:getSaludoResponse" />
	</message>

	<message name="getDetallesRequest">
		<part name="parameters" element="tns:getDetallesRequest" />
	</message>

	<message name="getDetallesResponse">
		<part name="parameters" element="tns:getDetallesResponse" />
	</message>

	<!-- PORT TYPE -->

	<portType name="SimpleHello">
		<operation name='getSaludo'>
			<input message='tns:getSaludoRequest' />
			<output message='tns:getSaludoResponse' />
		</operation>

		<wsdl:operation name="getDetalles">
			<wsdl:input message="getDetallesRequest"></wsdl:input>
			<wsdl:output message="getDetallesResponse"></wsdl:output>
		</wsdl:operation>
	</portType>

	<!-- BINDINGS -->

	<binding name="SimpleHelloPortBinding" type="tns:SimpleHello">

		<soap:binding style='rpc' transport='http://schemas.xmlsoap.org/soap/http' />

		<operation name='getSaludo'>
			<soap:operation soapAction='getSaludo' />
			<input>
				<soap:body use='encoded' namespace='http://localhost' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</input>
			<output>
				<soap:body use='encoded' namespace='http://localhost' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</output>
		</operation>

		<operation name='getDetalles'>
			<soap:operation soapAction='getDetalles' />
			<input>
				<soap:body use='encoded' namespace='http://localhost' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</input>
			<output>
				<soap:body use='encoded' namespace='http://localhost' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/' />
			</output>
		</operation>
		
	</binding>

	<!-- SERVICE -->

	<service name="SimpleHelloService">
		<port name="SimpleHelloPort" binding="tns:SimpleHelloPortBinding">
			<soap:address location='http://localhost/server.php?wsdl' />
		</port>
	</service>

</definitions>